<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="../css/styles.css"
    <title></title>
</head>
<body >
    <h1><%= title %></h1>
    <p><h3>A template/view engine enables you to use static template files in your application. At runtime, the template engine replaces variables in a template file with actual values, and transforms the template into an HTML file sent to the client.</h3></p>
    <div id="ejs">
        <h2>What is EJS?</h2>
        <p>What is the "E" for? "Embedded?" Could be. How about "Effective," "Elegant," or just "Easy"? EJS is a simple templating language that lets you generate HTML markup with plain JavaScript. No religiousness about how to organize things. No reinvention of iteration and control-flow. It's just plain JavaScript.</p>
    </div>
    <p>Click here to <a href="/register">Register</a></p>
    
</body>
</html>